@font-face {
  font-family: "SigmarOneRegular";
  src: url("SigmarOneRegular.ttf") format("truetype");
}
body {
  background-image: url(Imagem5.jpg);
  background-size: cover;
  font-family: SigmarOneRegular;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.result {
  width: 90px;
  height: 33px;
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  font-family: sans-serif;
}
#wrap {
  color: rgb(5, 56, 32);
  text-align: center;
  font-size: x-large;
  background-color: rgba(233, 236, 252, 0.623);
  margin-top: 15vh;
  width: 50vw;
}
label {
  display: inline-block;
  font-weight: bold;
  padding: 10px;
  font-size: x-large;
}
#botao {
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
button {
  background-color: rgb(52, 241, 162);
  border-radius: 30px;
  width: 120px;
  cursor: pointer;
  padding: 9px;
  border-style: solid;
  border-color: black;
}
button:hover {
  background-color: rgb(202, 248, 141);
}
#formula {
  display: flex;
  justify-content: center;
}
h1 {
  line-height: 7vh;
  margin-bottom: 3vh;
}

h2 {
  background-color: rgb(177, 248, 213);
  border-width: medium;
  border-color: black;
  border-style: solid;
  padding: 3vh;
  font-size: x-large;
}
input {
  width: 150px;
  font-family: sans-serif;
  padding: 0;
  text-align: center;
}
#raizes {
  display: none;
  text-align: center;
  font-size: x-large;
}
.letra {
  width: 50px;
}

@media only screen and (max-width: 787px) {
  body {
    height: 80vh;
  }

  #wrap {
    width: 90vw;
    padding: 0 2vw 2vh;
  }
}